ol{
  margin-bottom: 30px;
}
#header{
  margin-top: 30px;
}
#play{
  color: #751e52;
  font-size: 24px;
  font-weight: bold;
}
#error_mes_one{
  display: none;
}
#error_mes_two{
  display: none;
}
#list_play{
  margin-bottom: 40px;
  font-size: 16px;
}
p{
  font-size: 16px;
}
#game_title{
  color: #751e52;
}
#content{
  padding-bottom: 150px;
}
#ping_number{
  width: 99%
}
#ping_button{
  color: #751e52;
}
