ol{
  margin-bottom: 30px;
}
#header{
  margin-top: 30px;
}
#play{
  color: #751e52;
  font-size: 24px;
  font-weight: bold;
}
#result{
  display:none;
}
#error_mes_one{
  display: none;
}
#error_mes_two{
  display: none;
}
